extends ../layout

block main
  header
    div(class=css.content)
      h1(class=css.title) posts

  section(class=css.index)
    if posts && posts.length
      ol(class=css.posts)
        each post in posts
          li(class=css.block)
            h1(class=css.title)
              a(href=post.path)!= post.title
            h3(class=css.timestamp)=helpers.moment(publishDate).format("M.D.YYYY")
            h3(class=css.excerpt)!= post.excerpt
    else
      h2 nothing has been written yet