extends ../layout

block main
  article(class=css.container)
    
    header(class=css.heading)
      div(class=css.content)
        h1(class=css.title+css.tag)=tag.title
    
    section(class=css.index)
      div(class=css.content)
        ol(class=css.posts)
          each post in tag.posts
            li(css.post)
              div(class=css.content)
                h2
                  a(href='/'+post.path)!= post.title
                h4(class=css.timestamp)=helpers.moment(publishDate).format("M.D.YYYY")
                h4(class=css.excerpt)!= post.excerpt