extends ../layout

block main
  header
    div(class=css.content)
      h1(class=css.title) tags

  section(class=css.index)
    if tags && tags.length
      ol
        each tag in tags
          li(class=css.block)
            h2(class=css.title)
              a(href=tag.path)
                span.count [#{tag.posts.length}] 
                span.name !{tag.title} 
                
    else
      div(class=css.content)
        h2 nothing has been tagged yet